body {
  background: #cdb4db;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(20, 20, 20);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
